.navigation html,
.navigation body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navigation #floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  height: 21%;
}

.navigation #navMap {
  width: 100%;
  height: 79%;
  background-color: grey;
}

.mapcotainer{
  position:absolute;
  height:100%;
  width:100%;
}

.nav-start{
  color: orangered;
  text-align:center;
  font-size:smaller;
}

.nav-start > i{
  font-size: 22px;
}

.pin-icon{
  float:right;
  color:red;
}

.locate-icon{
  float:right;
  color:steelblue;
}

.navigation .scroll {
  height: 100%;
}

.navigation .btn-color:after{
  position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    content: ' ';
}
.navigation .btn-color{
  font-size: 32px;
  color: black;
    padding-right: 2px;
    padding-left: 20px;
    font-weight: 300;
    min-width: 0px;
}
.navigation .no-padding{
  padding: 0px;
}
.navigation .durationText{
    /*text-align: center;*/
    padding-top: 8px;
    font-size: 17px;
    /*font-weight: bold;*/
}
.navigation .nav-input{
  font-weight: 300;
}
.navigation .swap-icon{
    padding-top: 25px;
    padding-left: 25px;
    font-size: 20px;
}

.no-width{
  width: 0;
}