<ion-view view-title="Event History" hide-nav-bar="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons> 
       
    <ion-content class="lgBackgroundWhite navigation" scroll="false">
        <div class="row no-padding">
            <div class="col col-20 no-padding">
                <button class="button button-icon button-clear ion-navicon btn-color" menu-toggle="left"></button>
            </div>
            <div class="col col-80 no-padding">
                <div class="row no-padding">
                    <div class="col col-90 no-padding">
                        <label class=" item-input no-padding">
                            <span class="input-label no-width"><i class="ion-android-locate locate-icon"></i></span>
                            <input id="start" type="text" class="nav-input" placeholder="Your Location" 
                                gm-places-autocomplete ng-model="yourLocation" ng-change="onChangeHandler()"/>
                        </label>
                        <label class=" item-input no-padding">
                            <span class="input-label no-width"><i class="ion-android-pin pin-icon"></i></span>
                            <input id="end" type="text" class="nav-input" placeholder="Drop Location"
                                gm-places-autocomplete ng-model="dropLocation" ng-change="onChangeHandler()"/>
                        </label>
                    </div>
                    <div class="col col-10 swap-icon">
                        <span ng-click="swapLocation()"><i class="ion-arrow-swap"></i></span>
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col col-80 no-padding durationText">
                        <div>
                            <span>{{totalDuration}}</span><span>({{totalDistance}})</span>
                        </div>
                    </div>
                    <div class="col col-20 no-padding" style="margin-left:40px;">
                        <span ng-click="startNavigate()" class="input-label no-padding nav-start">
                            <i class="ion-ios-navigate"></i>
                            <div>Start</div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="floating-panel" style="height:79%;"></div>-->
        <div class="mapcotainer" ng-init="initMap()">
            <div id="navMap"></div>
        </div>
    </ion-content>
</ion-view>