<ion-view view-title="Event History">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="gotoEventHistoryDetail()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
     <!--<button class="button button-icon button-clear ion-android-close " ng-click="gotoEventHistoryDetail()" ></button>-->
        <a class="button button-icon button-clear " href="#/bats/notification" ><img class="filterWidth" src="img/notification.png">
       
        <span class="badge badge-dark badgePosition" ng-class="{'badgePositionHide':count=='0','badgePosition':count!='0'}">{{count}}</span></a>
    </ion-nav-buttons>
    
    <ion-content class="lgBackgroundWhite eventFilter " scroll="false">
        <form name="filterForm.form"  >
            <div class="allChecked">
                <ion-checkbox ng-model="formVal.allCheck" ng-click="checkAll()">
                    <div class="fontForFilter"><img class="filterfWidth" src="img/filter.png">Filter</div>
                </ion-checkbox>
               
            </div>
            <ion-list class="fontForFilter" ng-repeat="filter in filter track by $index">
                <ion-checkbox ng-model="filter.value" ng-checked="filter.value" ng-click="checkAllFor()">
                    <div ng-class="{'colorForChecked' : !filter.value}">{{filter.name}}</div>
                </ion-checkbox>
            </ion-list>
      </form>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-class="{'disableDiv': filterForm.form.$invalid}" ng-click="gotoApplyFilter()">
        <div class="title">Apply Filter</div>
    </div>
</ion-view>