<ion-view view-title="Live Tracking">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="lgBackgroundWhite ltdHome">
        <div class="acGreyFont ltdMainDiv">Please Select a Vehicle from the List</div>
        <ion-list  >
            <div ng-repeat="tracker in trackerList">
            <ion-radio class=""ng-model="choice" ng-click="gotoLiveTracking(choice)" ng-value="tracker.devid" >
                 <div class="">{{tracker.vehicle_name}}</div>
                 <span class="acSmallFonts">{{tracker.devid}}</span>
                 <span class="floatRight ltdMainStatusSpan">
                    <span class="acSmallFonts ltdMarginForSpan acGreyFont">{{tracker.statusType}}</span>
                    <span class="ltdStatusSpan" ng-class="{'crossedGeofence' : tracker.alarm_type ==0, 
                        'crossSpeed' : tracker.alarm_type ==1, 'crossGeoAndSpeed' : tracker.alarm_type ==2,
                        'normalState' : tracker.alarm_type ==3,'noResponceState' : tracker.alarm_type ==4}">
                    </span>
                </span>
            </ion-radio>
            </div>
            
        </ion-list>
    </ion-content>
    
</ion-view>
