<ion-view view-title="">
    <ion-content class="lgBackgroundWhite ionContentMargin">
        <div class="commonLeftMargin">
            <div class="containerLogin">
                <div class="helperLogin">
                    <ul class="conLogin topMArgin">
                        <img class="lgWelcomeLogin" src="img/logo-login.png">
                    </ul>
                </div>
            </div>
            <div class="containerLogin">
                <div class="helperLogin">
                    <div class="LoginHeading">
                        <div class="lableLogin">New User Registration</div>
                        <div class="steptext">Step 1 of 2</div>
                    </div> 
                </div>
            </div>

            <div class="containerLogin">
                <div class="">
                    <form name="signupStep1Form.form" novalidate>
                        <div class="space">
                            <div ng-show="data.fName" class="floatlabeltxt show-hide inputFieldFontSize">First Name</div>
                            <input placeholder="First Name" type="text" ng-model="data.fName" required name="fName" 
                            ng-class="{error: signupStep1Form.form.fName.$invalid && Validate}" minlength="2" maxlength="20"
                            ng-pattern ="/^[a-zA-Z\s]*$/"
                            oninput="if(value.length>20)value=value.slice(0,20)"/>
                            <span class="red" ng-if="signupStep1Form.form.fName.$dirty && signupStep1Form.form.fName.$invalid">
                            Please enter minimum 2 characters and character only allow
                            </span>
                             <!--<span class="red" ng-if="signupStep1Form.form.fName.$dirty && signupStep1Form.form.fName.$invalid">
                            Please enter minimum 2 characters
                            </span>-->
                        </div>
                        <div class="space">
                            <div ng-if="data.lName" class="floatlabeltxt show-hide inputFieldFontSize">Last Name</div>
                            <input placeholder="Last Name" type="text" name="lName" ng-model="data.lName" maxlength="20"
                            required ng-class="{error: signupStep1Form.form.lName.$invalid && Validate}" minlength="1"
                            ng-pattern ="/^[a-zA-Z\s.]*$/"
                            oninput="if(value.length>20)value=value.slice(0,20)"/>
                            <span class="red" ng-if="signupStep1Form.form.lName.$dirty && signupStep1Form.form.lName.$invalid">
                            Please enter minimum 1 character
                            </span>
                        </div>
                        <div class="space">
                            <div ng-if="data.email" class="floatlabeltxt show-hide inputFieldFontSize">Email</div>
                            <input placeholder="Email" type="email" name="email" ng-model="data.email" required 
                            ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" oninput="if(value.length>35)value=value.slice(0,35)"
                                ng-class="{error: signupStep1Form.form.email.$invalid && Validate}" maxlength="35" />
                            <span class="red" ng-if="signupStep1Form.form.email.$dirty && signupStep1Form.form.email.$invalid">
                            Invalid email address
                            </span>
                        </div>
                        <div class="space">
                            <div ng-show="data.phonenumber" class="floatlabeltxt show-hide inputFieldFontSize">Phone Number</div>
                            <input placeholder="Phone Number" oninput="if(value.length>10)value=value.slice(0,10)" 
                                type="number" name="phonenumber" ng-model="data.phonenumber" minlength="10"
                                required ng-class="{error: signupStep1Form.form.phonenumber.$invalid && Validate }" />
                                 <span class="red" ng-if="signupStep1Form.form.phonenumber.$dirty && signupStep1Form.form.phonenumber.$invalid">
                            Phone number should be 10 digits
                            </span>
                        </div>
                        <div class="space">
                            <div ng-show="data.password" class="floatlabeltxt show-hide inputFieldFontSize">Password</div>
                            <input placeholder="Password"  type="password" autocomplete="new-password" ng-pattern="/^(?=.*\d+)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%]{8,25}$/"
                             name="password" ng-model="data.password" oninput="if(value.length>25)value=value.slice(0,25)"
                                required ng-class="{error: signupStep1Form.form.password.$invalid && Validate }"/>
                                 <span class="red" ng-if="signupStep1Form.form.password.$dirty && signupStep1Form.form.password.$invalid">
                            Password should be atleast 8 characters with a number
                            </span>
                        </div>

                        <div class="space">
                            <div ng-show="data.country" class="floatlabeltxt show-hide inputFieldFontSize">Country</div>
                            <select ng-model="data.country" class="dropdown" name="selectedcountry" required placeholder="Country" 
                            ng-options="x for x in countries"
                                ng-class="{error: signupStep1Form.form.selectedcountry.$invalid && Validate}">
                            <option value=""disabled selected>Country</option>
                             </select>

                        </div>
                        <div class="space" style="margin-bottom:15px;">
                            <div ng-show="data.state" class="floatlabeltxt show-hide inputFieldFontSize">State</div>
                            <select ng-model="data.state" class="dropdown" name="selectedstate" required placeholder="State" 
                            ng-options="x for x in states"
                                ng-class="{error: signupStep1Form.form.selectedstate.$invalid && Validate}">
                           <option value=""disabled selected>States</option> </select>
                        </div>
                    </form>
                </div>

            </div>
            <div ng-if="signupStep1Form.form.$invalid && Validate " class="red">All Fields are mendatory</div>
            <div ng-if="signupStep1Form.form.phonenumber.$invalid && Validate " class="red">phone number should be 10 digits</div>
        </div>
        <!--<div class="button button-balanced button-footer stButton" ng-disabled="signupStep1Form.$invalid" 
            ng-click="gotoNext(data, signupStep1Form)">
            <div class="title">Next</div>
        </div>-->
    </ion-content>
    <div class="bar bar-footer bar-balanced"  ng-class="{'disableDiv': signupStep1Form.form.$invalid}" ng-click="gotoNext(data, signupStep1Form.form)">
        <div class="title">Next</div>
    </div>

</ion-view>