.lvdstatusBorder{
     border: 1px solid #b7b3b3;
     /*height: 50px;*/
     /*padding: 7px;*/
}
.addTopMargin{
    margin-top: 1px;
}

.lvdDivWidth{
    width: 100%;  
}
.lvdstatusColor{
    border:1px solid #ffffff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: 2px;
}
.lvdstatus{
        display: -webkit-inline-box;
        padding-left: 10%;
}
.lvdalignRight{
    text-align: right;
}
.noResponceState{
    background:#2d2d2d;
}
.crossGeoAndSpeed{
    background:#ff0000;
}
.crossSpeed{
    background:#ffd500;
}
.crossedGeofence{
    background:#710e9f;
}
.normalState{
    background:#7fbb01;
}
.lvdRightBorder{
    border-right:1px solid #b7b3b3;
}


.lvdRemoveTopRow{
    /*line-height: 42px;
    margin-top: -5px;
    margin-bottom: 5px;
    padding-top: 0px;*/
        /* line-height: 13px; */
    margin-top: 11px;
    /* margin-bottom: 5px; */
    padding-top: 0px;
}
.lvdTransform {
    width: 100px;
    height: 100px;
   
}
.lvdVehicleBack{
    border-radius: 50px;
    width: 135px;
    height: 100px;
    background: #ff7244;
}

.lvdPedding{
        padding-left: 40px !important;
}
/*.lvd{
        background: white;
    margin: 14px;
    border-radius: 5px;
}*/
.lvddiv1 {
    background: white;
    margin: 14px;
    border-radius: 5px;
}
.lvdSmallFontsforVehicleName {
    font-weight: 600;
    line-height: 19px;
}

.lvdSmallFontsforChildName {
    font-weight: 500 !important;
        font-size: 13px;
}
.largeFont{
    font-size: 23px !important;
}
.kmphSize{
    font-size: 15px !important;
}
.textInsideGauge{
        /* height: 20px; */
    /*font-size: 17px !important; */
    color: black !important; 
    margin-bottom: 20px;
    overflow: inherit !important; 
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    /*box-shadow: inset 0 1px 2px rgba(0,0,0,.1);*/
    border: none !important;
    /*height: 30px !important; */
    background-color: white !important;
    position: absolute;
    color: #bbb;
    
}
.lvdSeedLimit{
            border-radius: 24px;
    height: 45px;
    background: rgb(229, 232, 232);
    width: 111px;
    display: -webkit-inline-box;
    text-align: center;
        margin-top: 28px;
    color: #867d7d;
    text-align: center;
    padding: 0px;
    padding-left: 18px;
    /* margin-left: 66px; */
}
.lvdMarginLeft{
    margin-left: 105px;
}
.chart{
    height: 150px;
    padding-top: 40px;
    position: relative;
    margin: 20px auto;
    font-size: 40px;
    text-align: center;
}
.speed-limit-text{
    text-align: center;
}
.progress{
    height: 30px !important;
    background-color: white !important;
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
}
.speed-text{
    top: auto;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35.7143px;
}