<ion-view view-title="Replay Route" ng-init="initialize()">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="backToReplayRoute()"></button>
    </ion-nav-buttons>
     <ion-nav-buttons side="right">
      <a class="button button-icon button-clear " href="#/bats/notification" ><img class="filterWidth" src="img/notification.png">
      <span class="badge badge-dark badgePosition" ng-class="{'badgePositionHide':count=='0','badgePosition':count!='0'}">{{count}}</span></a>
    </ion-nav-buttons>
    <ion-content class="hmCards" >
    
             <div class="umdHeaderIconsVehicle lgBackgroundWhite acSmallFonts acGreyFont">Please select the time slot</div>
            <ion-list class="rrdIonList" ng-style=" timeSlots.data == false && { 'background-color': '#eaeaea' }">
                <ion-radio class="rrdRadioLabels" ng-repeat="timeSlot in timeSlots" ng-disabled="!timeSlot.data" ng-class="!timeSlot.data ? 'halfOpacity' : 'zeroOpacity'"  ng-model="data.timeSlot" ng-value="timeSlot" ng-click="getHistory(timeSlot)">
                    <div class="acSmallFonts">{{timeSlot.sts | date:'HH:MM'}}</div>
                    <div class="acSmallFonts">to</div>
                    <div class="acSmallFonts">{{timeSlot.ets | date:'HH:MM'}}</div>
                </ion-radio>
            </ion-list>
            <div id="replay_map" ng-style="mapHeight"  ></div>
            <div class="rrdspeedCtrlSection row">
                <div class="col col-25">
                <img src="img/play.png" class="rrimages" ng-if="play && !end" ng-click="updateSpeed(4);">
                <img src="img/pause.png" class="rrimages" ng-if="!play && !end"  ng-click="updateSpeed(3);">
                </div>
                <div class="col col-25">
                <img src="img/replay.png" class="rrimages" ng-click="getHistory(replaySlot)">
                </div>
                <!--<i class="fa fa-play replayRoutePlay"  ng-if="play && !end" ng-click="updateSpeed(4);" aria-hidden="true"></i>
                <i class="fa fa-pause replayRoutePlay"  ng-if="!play && !end" ng-click="updateSpeed(3);" aria-hidden="true"></i>
                <i class="fa  fa-reply replayRoutePlay"  ng-click="getHistory(replaySlot)" aria-hidden="true"></i>-->
                <!--<ul>
                    <li class="spdCtrl activeCtrl" ng-click="updateSpeed(0)"><span class="txtSpan">Slow</span></li>
                    <li class="spdCtrl" ng-click="updateSpeed(1)"><span class="txtSpan">Medium</span></li>
                    <li class="spdCtrl" ng-click="updateSpeed(2)"><span class="txtSpan">High</span></li>
                </ul> -->
                
                <!--<select ng-model="selected" ng-init="selected = options[0]" ng-change="updateSpeed(selected)" class="dropdown rrSelectWidth" name="selectedSpeed" >
                                <option  value="">Speed</option>
                                <option selected value="0">Slow</option>
                                <option value="1">Medium</option>
                                <option value="2">High</option>
                            </select>-->
                <div class="col col-50">
                             <select ng-model="data.selectedOption" required ng-options="option.value as option.name for option in availableOptions" ng-change="updateSpeed(data.selectedOption)" style="width:100%;"></select>
                </div>
            </div> 


    </ion-content>
     
</ion-view>