.rrdRadioLabels{
    width: 26%;
    text-align: center;
    border: none;
    padding: 8px;
    padding-bottom: 4px;
}

.rrdIonList .list{
    display: flex;
}

.rrdIonList .item-radio .item-content {
    padding: 0px;
    background-color: white;
}

.rrdIonList .ion-checkmark:before {
    content: "";
}

.rrdIonList .item-radio input:checked + .radio-content .item-content{
    border-bottom: 2px solid #fe6135;
}

.rrdIonList .item-radio input:checked + .radio-content .item-content {
    background: white;
}

.rrdIonList .item-radio input:checked + .radio-content .item-content .acGreyFont{
    color: white;
}
    
.rrdspeedCtrlSection{
    position: fixed;
    bottom: 5%;
    left: 40%;
    }
.rrdspeedCtrlSection i {
    padding-right: 22px;
}