<ion-view view-title="Vehicle Statistics">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear " href="#/bats/notification"><img class="filterWidth" src="img/notification.png">
       
        <span class="badge badge-dark badgePosition"  ng-class="{'badgePositionHide':count=='0','badgePosition':count!='0'}">{{count}}</span></a>
    </ion-nav-buttons>
    <ion-content class="lgBackgroundWhite" scroll="false">
        <div class="commonLeftMargin">
            <div class="containerLogin">
                <div class="LoginHeading">
                    <form name="vehicleStatiticsForm">
                        <div ng-show="data.selectedvehicle" class="floatlabeltxt show-hide inputFieldFontSize">Select Vehicle</div>
                        <select ng-model="data.selectedvehicle" class="dropdown" name="selectedvehicle" required ng-options="v.vehicle_num for v in deviceList"
                            ng-class="{error: signupStep1Form.selectedvehicle.$invalid && Validate}">
                            <option value=""disabled selected>Select Vehicle</option>
                             </select>
                        <div class="space1">
                            <div class="floatlabeltxt show-hide inputFieldFontSize">Start Date</div>
                            <ion-list>
                                <div class="item itemBorader zeroPadding" ion-datetime-picker ng-model="data.startdatetimeValue" aria-placeholder="Start Date"
                                 only-valid="{'before': 'today', 'inclusive': true}">
                                    {{data.startdatetimeValue| date: "yyyy-MM-dd H:mm:ss"}} <img class="calendericon" src="img/calender.png">
                                </div>

                            </ion-list>
                        </div>
                        <div class="space1">
                            <div class="floatlabeltxt show-hide inputFieldFontSize">End Date</div>
                            <ion-list>
                                <div class="item itemBorader zeroPadding" ion-datetime-picker ng-model="data.enddatetimeValue" aria-placeholder="End Date"
                                 only-valid="{'between': {'initial': data.startdatetimeValue,
                                   'final': 'today'}, 'inclusive': true}">
                                    {{data.enddatetimeValue| date: "yyyy-MM-dd H:mm:ss"}} <img class="calendericon" src="img/calender.png">
                                </div>
                            </ion-list>
                        </div>
                    </form>
                </div>
                <button ng-click="gotoVehicleStatistics(data,vehicleStatiticsForm)"  ng-disabled="vehicleStatiticsForm.$invalid"  class="button button-balanced stButton btnMaarginTop1">Submit</button>
            </div>
        </div>

    </ion-content>
</ion-view>