<ion-view view-title="Replay Route">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
     <ion-nav-buttons side="right">
       <a class="button button-icon button-clear " href="#/bats/notification" ><img class="filterWidth" src="img/notification.png">
       <span class="badge badge-dark badgePosition">1</span></a>
    </ion-nav-buttons>
    <ion-content class="lgBackgroundWhite">
        <div class="commonLeftMargin">
            <div class="containerLogin">
                <div class="LoginHeading">
                    <form name="replayRouteForm">
                        <label ng-show="data.selectedvehicle" class="floatlabeltxt show-hide inputFieldFontSize">Select Vehicle</label>
                        <select ng-model="data.selectedvehicle" class="dropdown" name="selectedvehicle" required ng-options="v.devid for v in deviceList"
                            ng-class="{error: signupStep1Form.selectedvehicle.$invalid && Validate}">
                         <option value=""disabled selected>Select Vehicle</option>
                         </select>
                        <div class="space1">
                            <label class="floatlabeltxt show-hide inputFieldFontSize">Start Date</label>
                            <ion-list>
                                <div class="item itemBorader" ion-datetime-picker date ng-model="data.startdatetimeValue" aria-placeholder="Start Date"
                                 only-valid="{'before': 'today', 'inclusive': true}">
                                    {{data.startdatetimeValue| date: "yyyy-MM-dd"}} <img class="calendericon" src="img/calender.png">
                                </div>
                            </ion-list>
                        </div>
                    </form>
                </div>
                <button ng-click="gotoReplayRoute(data, replayRouteForm)" ng-disabled="replayRouteForm.$invalid"
                    class="button button-balanced stButton btnMaarginTop1">Submit</button>
            </div>
        </div>

    </ion-content>
    <!--<div class="bar bar-footer bar-balanced">
        <div class="title">Footer</div>
    </div>-->
</ion-view>