.itemBorader{
    border-top: none !important;
    width:100%;
    padding-bottom: 0px;
    border-right: none;
}
.calendericon{
    width: 29px;
    float:right;        
}
.space1{
    margin-top: 12px;
}
.btnMaarginTop1{
    margin-top: 37px;
}