<ion-view view-title="Update Details">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c"
                ng-click="backToManageTracker()"></button>
    </ion-nav-buttons>
     <ion-nav-buttons side="right">
       <a class="button button-icon button-clear " href="#/bats/notification" ><img class="filterWidth" src="img/notification.png"></a>
    </ion-nav-buttons>
    <ion-content >
        <form name="updatemarkerdetialsForm.form" novalidate>
            <div class="umdBackground">
                <div class="umdcolPadding umdHeading">
                    <b>{{tracker.devid}}</b>
                    <div class="row">
                        <div class="umdFontDiv acGreyFont">Carrear name</div>
                        <div class="umdFontDiv acGreyFont">{{tracker.device_sim_cn}}</div>
                    </div>
                </div>
                
            </div>
            <div>
                <div class="umdHeaderIconsVehicle acSmallFonts">Please select your vehicle type</div>
                <ion-list class="umdIonList">
                    <ion-radio class="umdRadioLabels" ng-model="data.vehicle_model" ng-value="'car'">
                    <div class="umdIconsmargin">
                        <img class="umdIcons" src="img/car.png" />
                    </div>
                    <div class="acSmallFonts acGreyFont">CAR</div>
                    </ion-radio>
                    <ion-radio class="umdRadioLabels" ng-model="data.vehicle_model" ng-value="'bike'">
                        <div class="umdIconsmargin">
                            <img class="umdIcons" src="img/bike.png" />
                        </div>
                        <div class="acSmallFonts acGreyFont">BIKE</div>
                    </ion-radio>
                    <ion-radio class="umdRadioLabels" ng-model="data.vehicle_model" ng-value="'truck'">
                        <div class="umdIconsmargin">
                            <img class="umdIcons" src="img/truck.png" />
                        </div>
                        <div class="acSmallFonts acGreyFont">TRUCK</div>
                    </ion-radio>
                    <ion-radio class="umdRadioLabels" ng-model="data.vehicle_model" ng-value="'bus'">
                        <div class="umdIconsmargin acGreyFont">
                            <img class="umdIcons" src="img/bus.png" />
                        </div>
                        <div class="acSmallFonts acGreyFont">BUS</div>
                    </ion-radio>
                </ion-list>
            </div>
            <div class="umdHeaderIconsVehicle acSmallFonts">Vehicle Name</div>
            <div class="umdInputDiv">
                <input type="text" name="vehicle_name" class="umdInputBoxes" required 
                    placeholder="Please enter the Vehicle name" ng-model="data.vehicle_name"
                    ng-class="{'umdFilledInputBox' : updatemarkerdetialsForm.form.vehicle_name.$invalid}">
            </div>
            <div class="umdHeaderIconsVehicle acSmallFonts">Vehicle Number</div>
            <div class="umdInputDiv">
                <input type="text" name="vehicle_num" class="umdInputBoxes" required 
                    placeholder="Please enter the Vehicle number" ng-model="data.vehicle_num"
                    ng-class="{'umdFilledInputBox' : updatemarkerdetialsForm.form.vehicle_num.$invalid}">
            </div>
            <div class="umdHeaderIconsVehicle acSmallFonts">Maximum Speed limit</div>
            <div class="umdInputDiv umdFlex">
                <input type="text" name="speed_limit" class="umdInputBoxes umdSpeedLimit" required 
                    placeholder="Set Speed Limit" ng-model="data.speed_limit"
                    ng-class="{'umdFilledInputBox' : updatemarkerdetialsForm.form.speed_limit.$invalid}">
                <div class="umdLabelBorder">KMPH</div>
                <span class="umdSpeedLimitSpan acGreyFont">Example:60Kmph you will be notified when vehicle crosses the speed limit</span>
            </div>
        </form>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-class="{'disableDiv': updatemarkerdetialsForm.form.$invalid}" 
        ng-click="updateTracker(data, updatemarkerdetialsForm.form)">
        <div class="title">Update</div>
    </div>
</ion-view>
