<ion-view view-title="Update Details">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="backToManageTracker()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div ng-include="'component/notificationbell/notificationbell.html'"></div>
        <!--<a class="button button-icon button-clear " href="#/bats/notification" ><img class="filterWidth" src="img/notification.png">
       <span class="badge badge-dark badgePosition"  ng-class="{'badgePositionHide':count=='0','badgePosition':count!='0'}">{{count}}</span></a>-->
    </ion-nav-buttons>
    <ion-content>
        <form name="updatemarkerdetialsForm.form" novalidate>
            <div class="umdBackground">
                <div class="umdcolPadding umdHeading">
                    <b>{{tracker.devid}}</b>
                    <div class="row">
                        <div class="umdFontDiv acGreyFont">Carrier name</div>
                        <div class="umdFontDiv acGreyFont">{{tracker.device_sim_cn}}</div>
                    </div>
                </div>

            </div>
            <div>
                <div class="umdHeaderIconsVehicle acSmallFonts">Please select your vehicle type</div>
                <ion-list class="umdIonList">
                    <ion-radio class="umdRadioLabels" ng-model="data.vehicle_model" ng-value="'car'">
                        <div class="umdIconsmargin">
                            <img class="umdIcons" src="img/car.png" />
                        </div>
                        <div class="acSmallFonts acGreyFont">CAR</div>
                    </ion-radio>
                    <ion-radio class="umdRadioLabels" ng-model="data.vehicle_model" ng-value="'bike'">
                        <div class="umdIconsmargin">
                            <img class="umdIcons" src="img/bike.png" />
                        </div>
                        <div class="acSmallFonts acGreyFont">BIKE</div>
                    </ion-radio>
                    <ion-radio class="umdRadioLabels" ng-model="data.vehicle_model" ng-value="'truck'">
                        <div class="umdIconsmargin">
                            <img class="umdIcons" src="img/truck.png" />
                        </div>
                        <div class="acSmallFonts acGreyFont">TRUCK</div>
                    </ion-radio>
                    <ion-radio class="umdRadioLabels" ng-model="data.vehicle_model" ng-value="'bus'">
                        <div class="umdIconsmargin acGreyFont">
                            <img class="umdIcons" src="img/bus.png" />
                        </div>
                        <div class="acSmallFonts acGreyFont">BUS</div>
                    </ion-radio>
                </ion-list>
            </div>
            <div class="umdHeaderIconsVehicle acSmallFonts">Vehicle Name</div>
            <div class="umdInputDiv">
                <input type="text" name="vehicle_name" class="umdInputBoxes" required maxlength="20" placeholder="Please enter the Vehicle name"
                    ng-model="data.vehicle_name" oninput="if(value.length>20)value=value.slice(0,20)" ng-class="{'umdFilledInputBox' : updatemarkerdetialsForm.form.vehicle_name.$invalid}">
                <span class="red" ng-if="updatemarkerdetialsForm.form.vehicle_name.$dirty && updatemarkerdetialsForm.form.vehicle_name.$invalid">Please enter vehicle name</span>
                            </span>
            </div>
            <div class="umdHeaderIconsVehicle acSmallFonts">Vehicle Number</div>
            <div class="umdInputDiv">
                <input type="text" name="vehicle_num" class="umdInputBoxes" required maxlength="20" placeholder="Please enter the Vehicle number"
                    ng-model="data.vehicle_num" oninput="if(value.length>20)value=value.slice(0,20)" ng-class="{'umdFilledInputBox' : updatemarkerdetialsForm.form.vehicle_num.$invalid}">
                <span class="red" ng-if="updatemarkerdetialsForm.form.vehicle_num.$dirty && updatemarkerdetialsForm.form.vehicle_num.$invalid">Please enter vehicle number</span>
                            </span>
            </div>
            <div class="umdHeaderIconsVehicle acSmallFonts">Maximum Speed limit</div>
            <div class="umdInputDiv umdFlex">
                <!--<div class="row">
                    <div class="col col-40">
                         <input type="text" name="vehicle_num" class="umdInputBoxes" required maxlength="3" placeholder="Set Speed Limit"
                    ng-model="data.speed_limit"  ng-class="{'umdFilledInputBox' : updatemarkerdetialsForm.form.vehicle_num.$invalid}">
           
                    </div>-->
                    <input type="tel" name="speed_limit" class="umdInputBoxes umdSpeedLimit" required placeholder="Set Speed Limit" ng-model="data.speed_limit"
                    oninput="if(value.length>3)value=value.slice(0,3)" ng-class="{'umdFilledInputBox' : updatemarkerdetialsForm.form.speed_limit.$invalid}">
                   <div class="umdLabelBorder">KMPH</div>
                <span class="umdSpeedLimitSpan acGreyFont">Example:60Kmph you will be notified when vehicle crosses the speed limit</span>
                <!--<span class="red" ng-if="speed_limit =>'201'">
                            Max Speed 200 </span>-->
                <!--</div>-->
            </div>
            <span class="red umdcolPadding" ng-if="updatemarkerdetialsForm.form.speed_limit.$dirty && updatemarkerdetialsForm.form.speed_limit.$invalid">Please enter maximum speed limit</span>
                            </span>
            <div class="umdInputDiv">
                <ion-list>
                    <ion-checkbox class="checkbox checkbox-balanced" ng-model="geofence.checked">Add GeoFence</ion-checkbox>
                </ion-list>
            </div>
            {{geofenceCheck}}
            <!--<div class="umdInputDiv umdFlex" >
                <button  ng-click="gotoGeofence()" class="button button-balanced" style="margin-bottom:50px;">Draw GEofence</button>
            </div>-->
        </form>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-class="{'disableDiv': updatemarkerdetialsForm.form.$invalid}" ng-click="updateTracker(data, updatemarkerdetialsForm.form, geofence.checked)">
        <div class="title">{{geofence.checked ? 'Next' : 'Update'}}</div>
        <!--<div class="title" ng-if="geofenceCheck=='false'">Update</div>-->
    </div>
</ion-view>