<ion-view view-title="Manage Tracker">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"
        	menu-toggle="left"></button>
    </ion-nav-buttons>
     <ion-nav-buttons side="right">
         <div ng-include="'component/notificationbell/notificationbell.html'"></div>
      <!--<a class="button button-icon button-clear " href="#/bats/notification" ><img class="filterWidth" src="img/notification.png">
      <span class="badge badge-dark badgePosition" ng-class="{'badgePositionHide':count=='0','badgePosition':count!='0'}">{{count}}</span></a>-->
    </ion-nav-buttons>
    <ion-content class="hmCards ionContentMargin">
    	<!-- <ion-refresher ng-if="isCommPlanPrepered" class="refresher1" pulling-text="" spinner="none" 
     		on-refresh="doRefresh()" ></ion-refresher> -->
            <div>
              <button ng-click="addNewDevices()" class="button button-light acSmallFonts mtButton floatRight">
                +Add Tracker</button>
            </div>
        <div ng-repeat="tracker in trackerList">
            <action-card tracker="tracker"></action-card>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-click="gotoHome()">
        <div class="title" >Continue to Home</div>
    </div>
</ion-view>
