<ion-view view-title="">
    <ion-content class="greyBackground ionContentMargin" scroll="true">
        <div ng-if="_token==undefined" class="lgBackgroundWhite">
            <div class="containerLogin">
                <div class="helperLogin">
                    <div class="conLogin topMArgin commonLeftMargin">
                        <img class="lgWelcomeLogin" src="img/logo-login.png">
                    </div>
                </div>
            </div>
            <div class="containerLogin">
                <div ng-if="_token==undefined" ><button class="button button-icon ion-arrow-left-c buttonColor"
                 ng-click="backToStep1()"></button>
                <span class="steptextFollow">Step 1 of 2</span>
                </div>
            </div>
        </div>
        <div ng-if="_token!=undefined || editMarkerData.devid"class="bar bar-header bar-light">
            <button class="button button-icon button-clear ion-arrow-left-c"
                ng-click="backToManageTracker()"></button>
            <h1 class="title">Update Tracker Details</h1>
        </div>
        <form name="signupStep2Form.form" novalidate>
            <div ng-if="editMarkerData.devid!=undefined" class="acSmallFonts suTrackerDiv">Please Add Purchased Tracker Details</div>
            <div class="lgBackgroundWhite" ng-repeat="tracker in trackers track by $index">
                <div class="suTrackerCard">Tracker
                    <i ng-click="removeTracker($index)" ng-if="trackers.length>1" class="icon bats-icon floatRight ion-minus"></i>
                </div>
                    <div class="suTrackerCard">
                        <div class="umdHeaderIconsVehicle acSmallFonts">Tracker Id</div>
                        <div class="umdInputDiv">
                            <input type="text" name="devid" required 
                                placeholder="Please enter the Tracker id" ng-model="data[$index].devid" maxlength="25"
                                ng-class="{'umdFilledInputBox' : signupStep2Form.form.devid.$invalid}">
                        </div>
                        <div class="umdHeaderIconsVehicle acSmallFonts">Tracker SIM Carrier</div>
                        <div class="umdInputDiv">
                            <select ng-model="data[$index].t_sim_provider" class="dropdown" name="t_sim_provider" 
                                    required ng-options="x for x in simCarriers"
                                    ng-class="{error: signupStep2Form.form.t_sim_provider.$invalid && Validate}">
                                <option value=""disabled selected>Please Select Sim carrier</option>
                             </select>
                        </div>

                        <div class="umdHeaderIconsVehicle acSmallFonts">Tracker SIM Phone Number</div>
                        <div class="umdInputDiv">
                            <input type="number" name="t_sim_cn" class="" required 
                                placeholder="Please enter Sim contact no." ng-minimum="10" oninput="if(value.length>10)value=value.slice(0,10)" 
                                 ng-model="data[$index].t_sim_cn"
                                ng-class="{'umdFilledInputBox' : signupStep2Form.form.t_sim_cn.$invalid}">
                        </div>
                    </div>
            </div>
            <div class="suTrackerCard suAddTrackerDiv" ng-if="editMarkerData.devid==undefined" ng-click="addTracker()">
                <i class="ion-ios-plus-empty suAddTrackerIcon"></i>Add Tracker</div>
        </form>
            <!--<ul>
                <li>
                    <button ng-click="gotoRegister(data, signupStep2Form)" ng-disabled="signupStep2Form.$invalid"
                        class="button button-balanced stButton">Submit</button>
                </li>
            </ul>-->
      
    </ion-content>
    <div class="bar bar-footer bar-balanced" ng-class="{'disableDiv': signupStep2Form.form.$invalid}"  
        ng-click="gotoRegister(data, signupStep2Form.form)">
        <div ng-if="editMarkerData.devid" class="title" >Update</div>
        <div ng-if="editMarkerData.devid ==undefined" class="title" >Submit</div>
    </div>
</ion-view>