<ion-view view-title="Notification">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="backToHistory()"></button>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">
         <a class="button button-icon button-clear " href="#/bats/notification" ><img class="filterWidth" src="img/notification.png"></a>
    </ion-nav-buttons>-->
    <ion-content class="lgBackgroundWhite" scroll="true">

        <div class="ehd" ng-repeat="notif in notificationData"> 
            <div class="row ehdRow ehdRowCol">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <img class="ehdimage" 
                            ng-src="{{notif.alarm_type=='0' ? 'img/eventH/panic.png' : (notif.alarm_type=='1' ? 'img/eventH/sim-tamper.png' :
                            (notif.alarm_type=='2' ? 'img/eventH/tamper-top.png' : (notif.alarm_type=='3' ? 'img/eventH/battery.png' : (notif.alarm_type=='4' ?
                            'img/eventH/overspeed.png' : (notif.alarm_type=='5' ? 'img/eventH/geofence.png' :(notif.alarm_type=='6' ? 'img/eventH/sanity.png' 
                            :(notif.alarm_type=='8' ? 'img/eventH/theft.png' :(notif.alarm_type=='9' ? 'img/eventH/invalid.png':'img/eventH/warning.png'))))))))}}">
                    </div>
                    <div class="col-md-7">
                        <div class="row latlongStyle" ng-click="showAlert(notif.lat,notif.long)">
                            {{notif.lat}} , {{notif.long}}
                        </div>
                        <div class="row acSmallFonts">
                            <div class="">{{Overspped}}</div>
                            <div class="col-md-2 speedstyle">{{notif.Velocity}}</div>
                        </div>
                    </div>
                    <div class="col-md-3 acSmallFonts acGreyFont ehDateFormat">
                        {{notif.ts | eventTime}}
                    </div>
                </div>
            </div>
            <!---->
        </div>
        <div ng-if="noData" class="alignCenter" >
            <img class="imageCss" src="img/no-data.png" >
            <div class="ngdata">No Data Availble</div>
        </div>
    </ion-content>
</ion-view>