<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <div>

        </div>
    </ion-nav-buttons>
    <ion-nav-title ng-click="gotoLivetrackingDevice()">{{selectedDevice}}<i class="ion-chevron-down ltSelectDevArr"></i></ion-nav-title>
    <ion-nav-buttons side="right">
        <!--<button class="button button-icon button-clear " ng-click="gotoFilter()" ><img class="filterWidth" src="img/filter.png"></button> -->
        <a class="button button-icon button-clear " href="#/bats/notification"><img class="filterWidth" src="img/notification.png">
            <span class="badge badge-dark badgePosition" ng-class="{'badgePositionHide':count=='0','badgePosition':count!='0'}">{{count}}</span>
        </a>
    </ion-nav-buttons>
    <ion-content class="hmCards" scroll="false" ng-init="init()">
        <div id="map" ng-style="mapHeight" ></div>

        <span class="liveTrackreCenter" ng-click="reCenterDevice()" ng-hide="singleDeviceZoomed">
                <i class="ion-android-send liveTrackRecenterA" ></i>Recenter</span>
        <!--<span class="liveTrackreCenter liveTrackParking" >Parking<i class="ion-android-send liveTrackRecenterA"></i></span>-->
        <div class="row liveTrackBelowbtn"  ng-click="ab(divcolor)">
            <!--<div class="col-sm-12 liveTrackTable">-->
                <div class="col col-30">
                    <div class="ltkmdetail">
                        <span style="font-size:21px;">{{speedSpeedOmeter}}</span><span style="font-size:14px;padding-left:3px;">KmpH</span></div>
                </div>
                <div class="col col-60">
                    <div>
                        <p class="ltstatusUpTxt">{{vehicleName}}</p>
                        <span class="ltwrap_type" ng-style="{{getColorBack(divcolor)}}"></span>
                        <p class="ltstatusTxt">{{barTxt}}</p>
                    </div>
                </div>
                <div class="col col-10 ltArrow" ng-show="divcolor!='4' && divcolor!=''">
                    <span><i class="ion-chevron-right"></i></span>
                </div>
            <!--</div>-->

        </div>


    </ion-content>

</ion-view>