<ion-view view-title="">
  <ion-content class="lgBackgroundWhite commonLeftMargin" scroll="false">
      <!--<div class="commonLeftMargin">-->
  		<div class="container1">
               <div class="helper">
                 <ul class="con topMArginStart">
                     <li>
                    	<img class="lgWelcome" src="img/login-selection.png">
                        
                     </li>
                     <li>
                       	<div class="lgWlcmText">Personal App for Tracking My Car</div>
                     </li>
                 </ul>
             </div>
             <!-- <p class="appVersion susRight">{{appVersion}}</p> -->
   	   	</div>
  		<!-- <div class="row paddingRemove">
  			<div class="col color1"></div>
  			<div class="col color2"></div>
  			<div class="col color3"></div>
  		</div> -->
        <div class="container2">
             <div class="helper">
                 <ul class="con stCon">
                     <li>
                         <button ng-click="gotoSignup()" class="button button-balanced stButton stBtnMarginTop">
                                New Customer</button>
                     </li>
                     <li>
                         <button ng-click="gotoLogin()" class="button button-balanced stButton">Already Registerd</button>
                     </li>
                 </ul>
             </div>
   	   	</div>
      <!--</div>-->
  </ion-content>
</ion-view>
