<ion-view view-title="Change Password">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
     <!--<ion-nav-buttons side="right">
      <!--<button class="button button-icon button-clear " ng-click="gotoFilter()" ><img class="filterWidth" src="img/filter.png"></button> 
        <a class="button button-icon button-clear " href="#/bats/notification" ><img class="filterWidth" src="img/notification.png"></a>
    </ion-nav-buttons>-->
    <ion-content class="lgBackgroundWhite" scroll="false">
        <div class="commonLeftMargin">
            <div class="containerLogin">
                <div class="LoginHeading cpMArginTop">
                    <form name="changePasswordForm" novalidate>
                        <div class="space">
                            <div ng-if="data.currentPass" class="floatlabeltxt show-hide inputFieldFontSize inputFieldFontSize">Current Password</div>
                            <input placeholder="Current Password" type="password" name="currentPass" ng-model="data.currentPass" required class="inputTextField"
                            />
                            <span class="errorMsg" ng-if="changePasswordForm.email.$dirty && changePasswordForm.currentPass.$invalid">
                                <span ng-if="changePasswordForm.currentPass.$error.required">Email is required.</span>
                            <span ng-if="changePasswordForm.currentPass.$error.email">Invalid email address.</span>
                            </span>
                        </div>

                        <div class="space">
                            <div ng-show="data.newPassword" class="floatlabeltxt show-hide inputFieldFontSize inputFieldFontSize"> New Password</div>
                            <input placeholder=" New Password" type="password" ng-model="data.newPassword"
                                name="newPassword" required class="inputTextField" />
                            <!--<span class="error" ng-if="data.confimPass!=data.newPassword">Current and new password should not be same</span>-->
                            <span class="errorMsg" ng-if="data.currentPass!=null && data.currentPass==data.newPassword">
                                Current and new password should not be same</span>
                        </div>

                        <div class="space">
                            <div ng-show="data.confirmPass" class="floatlabeltxt show-hide inputFieldFontSize inputFieldFontSize">Confirm New Password</div>
                            <input placeholder="Confirm New Password" type="password"
                                ng-model="data.confirmPass" required class="inputTextField" />
                            <span class="errorMsg" ng-if="data.confirmPass!=data.newPassword">New and confirm Password should  be same</span>
                            <!--<span ng-show="changePasswordForm.password_c.$error.required && changePasswordForm.password_c.$dirty">Please confirm your password.</span>
                            <span ng-show="!changePasswordForm.password_c.$error.required && changePasswordForm.password_c.$error.noMatch &&changePasswordForm.password.$dirty">Passwords do not match.</span>-->
                        </div>

                    </form>
                    <button ng-disabled="changePasswordForm.$invalid && data.newPassword==data.confirmPass"
                     ng-click="gotoChangePassword(data,changePasswordForm)" class="button button-balanced stButton btnMaarginTop">Update</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>