<ion-view view-title="">
    <ion-content  scroll="false">
        <div class="commonLeftMargin lgBackgroundWhite">
            <div class="containerLogin">
                <div class="helperLogin">
                    <ul class="conLogin topMArgin">

                        <img class="lgWelcomeLogin" src="img/logo-login.png">


                    </ul>
                </div>
                <!-- <p class="appVersion susRight">{{appVersion}}</p> -->
            </div>
            <div class="containerLogin">
                <div class="helperLogin">
                    <div class="LoginHeading">
                        <label class="lableLogin">Login</label>
                    </div>
                </div>
            </div>

            <!--ng-class="{error: signupStep1Form.selectedcountry.$invalid && Validate}"-->

            <div class="containerLogin">
                <div class="LoginHeading">
                    <form name="loginForm" novalidate>
                        <label ng-if="data.userid" class="floatlabeltxt show-hide inputFieldFontSize">User Id</label>
                        <input placeholder="User Id" type="text" ng-model="data.userid" required class="inputTextField" maxlength="20" name="user" ng-class="{error: loginForm.user.$invalid && Validate}">
                        </input>
                        <!--<span class="red" ng-if="loginForm.email.$dirty && loginForm.user.$invalid">
                                <span ng-if="loginForm.user.$error.required">Email is required</span>
                                <span ng-if="loginForm.user.$invalid">Invalid email address</span>
                            </span>-->
                        <div class="space">
                            <label ng-if="data.password" class="floatlabeltxt show-hide inputFieldFontSize">Password</label>
                            <input placeholder="Password" type="password" ng-model="data.password" required class="inputTextField" />
                            <span class="red" ng-if="loginForm.email.$dirty && loginForm.user.$invalid">
                                <span ng-if="loginForm.user.$error.required">Email is required</span>
                            <span ng-if="loginForm.user.$invalid">Invalid email address</span>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="space">
                    <div class="note acSmallFonts">Note: Enter user id and password generated after the Registration</div>
                </div>
            </div>
        </div>
        </div>
        <div class=" lgButtomBackgroundImage">
            <div class="commonLeftMargin logintopmargin">
            <ul>
                <li>
                    <button ng-disabled="loginForm.$invalid" ng-click="gotoHome(data, loginForm)" class="button button-balanced stButton LoginbtnMaarginTop">Login to BATS</button>
                </li>
                <li>
                    <div ng-click="gotoFogotPassword()" class=" button-balancedForgot stButton">Forgot Password</div>
                </li>
            </ul>
            </div>
        </div>
    </ion-content>
</ion-view>