<ion-view view-title="">
    <ion-content  scroll="false">
        <div class="commonLeftMargin lgBackgroundWhite">
            <div class="containerLogin">
                <div class="helperLogin">
                    <ul class="conLogin topMArgin">
                        <img class="lgWelcomeLogin" src="img/logo-login.png">
                    </ul>
                </div>
                <!-- <p class="appVersion susRight">{{appVersion}}</p> -->
            </div>
            <div class="containerLogin">
                <div class="helperLogin">
                    <div class="LoginHeading">
                        <label class="lableLogin">Login</label>
                    </div>
                </div>
            </div>

            <!--ng-class="{error: signupStep1Form.selectedcountry.$invalid && Validate}"-->

            <div class="containerLogin">
                <div class="LoginHeading">
                    <form name="loginForm" novalidate ng-submit="gotoHome(data, loginForm)">
                        <label ng-if="data.userid" class="floatlabeltxt show-hide inputFieldFontSize">User Id</label>
                        <input placeholder="User Id" type="number" ng-model="data.userid" required class="inputTextField" minlength="10"
                            maxlength="10" oninput="if(value.length>10)value=value.slice(0,10)" name="user" ng-class="{error: loginForm.user.$invalid && Validate}">
                        </input>
                        <span class="red" ng-if="loginForm.user.$dirty && loginForm.user.$invalid">
                                Invalid User ID
                                <!--<span ng-if="loginForm.user.$error.required">Email is required</span>-->
                            <!--<span ng-if="loginForm.password.$invalid">Invalid Password</span>-->
                        </span>
                        <div class="space">
                            <label ng-if="data.password" class="floatlabeltxt show-hide inputFieldFontSize">Password</label>
                            <input placeholder="Password" autocomplete="new-password" type="password" ng-model="data.password" name="password"
                                ng-pattern="/^(?=.*\d+)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%]{8,25}$/" maxlength="25" required class="inputTextField" />
                            <span class="red" ng-if="loginForm.password.$dirty && loginForm.password.$invalid">
                                Invalid Password
                                <!--<span ng-if="loginForm.user.$error.required">Email is required</span>-->
                            <!--<span ng-if="loginForm.password.$invalid">Invalid Password</span>-->
                            </span>
                        </div>
                         <input type="submit" class="hide-button"></input> 
                    </form>
                </div>
                <div class="space">
                    <div class="note acSmallFonts">Note: Enter user id and password generated after the Registration</div>
                </div>
            </div>
        </div>
        </div>
        <div class="lgButtomBackgroundImage">
            <div class="commonLeftMargin logintopmargin">
            <ul>
                <li>
                    <button ng-disabled="loginForm.$invalid" ng-click="gotoHome(data, loginForm)" class="button button-balanced stButton LoginbtnMaarginTop">Login to BATS</button>
                </li>
                <li>
                    <div ng-click="gotoFogotPassword()" class="button-balancedForgot stButton">Forgot Password</div>
                </li>
            </ul>
            </div>
        </div>
    </ion-content>
</ion-view>