/*************************css for action card*********************************/

.card{
    padding: 6px;
}

.card div{
    font-size: 13px;
}

.acActive{
    background-color: #e0e4e5;
    border-radius: 10px;
}

.acSmallFonts{
    font-size: 10px !important;
    line-height: 17px;
}

.acBlueColor{
    color: #1fb6ff;
}

.batsIcon{
    width: 22px;
    height: 22px;
}

.acRemoveMargin{
    margin-top: 0px !important;
}

.acGreyFont{
    color: #ababab;
}

.acYellowFont{
    background-color: #f4ce13;
    color : white;
}

.acGreenFont{
    background-color: #00ba88;
    color : white;
}

.hmCards .button{
    width: 80px;
    min-height: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
}

.acButtonFooterDiv{
    margin-top: 5px;
}

.button.button-light {
    border-color: #cccccc;
}

.hmCards .card{
    margin: 10px 4px;
        width: 97.5%;
}

.hmCards, .greyBackground{
    background-color: #f3f7f8;
}

.acEditIcon{
    margin-top: -2px;
}

.acTransform{
    transform: rotate(270deg);
    width: 32px;
    height: 32px;
}

.acVehicleCompany{
    line-height: 28px;
    margin-left: -4px;
}

.removeMarginLeftRight{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.removePaddingTopBottom{
    padding-top: 0px;
    padding-bottom: 0px;
}

.removePaddingLeftRight{
    padding-left: 0px !important;  
    padding-right: 0px !important;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

a:focus, a:hover {
    color: #474747 !important;
    text-decoration: none !important;
}


/****************************** CSS for loader**********************/

.loading-container{
	top: -76% !important;
}

.loading-container .loading img{
	width: 30%;
} 

.loading-container .loading {
    background-color: transparent;
}

.badgePosition{
    background-color: chocolate !important;
    top: -34px !important;
    left: 8px;
    /*width: 18px;*/
    padding-left: 6px !important;
}

.badgePositionHide{
    background-color:  rgba(255,255,255,.15) !important;
    
}
/******************************************************************************/
.error{
     border-bottom:1px solid red !important;
}

 input[type="text"], 
 input[type="password"], 
 input[type="email"], 
 input[type="number"]{
    border: none;
    border-bottom: 1px solid #e7e7e7;
    width: 100% ;
}
.dropdown{
    border: none;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
    width:100%;
    font-size: 15px;
    height: 26px;
}

.button.button-balanced {
	background-color: #00ba88;
	border-color: #00ba88;
}

.button.button-balanced.activated, .button.button-positive.activated{
    background-color: #00ba88 !important;
	border-color: #00ba88 !important;
    box-shadow: none !important;
}



.bar.bar-balanced {
	background-color: #00ba88;
	border-color: #00ba88;
}

.bar.bar-balanced.activated{
    background-color: #00ba88 !important;
	border-color: #00ba88 !important;
    box-shadow: none !important;
}

.ion-datetime-picker .calendar .day.selected, 
.ion-datetime-picker .calendar .day.selected:hover,
.ion-datetime-picker .calendar .day.selected.activated {
    background-color: #00ba88 !important;
    color: white!important;
}
.button.button-positive.button-clear {
    color: #00ba88 !important;
}
.button.button-positive {
    background-color: #00ba88;
    
}

.disableDiv{
   pointer-events: none;
   background-color: #99e3cf !important;
   background-image: linear-gradient(180deg, #99e3cf , #99e3cf 50%, transparent 50%) !important;
}


.disableDivForTransparent{
    color : #ababab;
    pointer-events: none;
}

.disableDivForTransparent i{
    border-color : #ababab;
}

.ionContentMargin {
    margin-bottom: 44px !important;
} 

.stModalView {
	    height: 313px;
}


.liveTrackreCenter {
	position: absolute;
    z-index: 100000000000;
    top: 384px;
    /* left: 162px; */
    right: 12px;
    background: #fff;
    /*color: #1909F3;*/
    font-size: 1.2em;
    /*font-weight: 900;*/
    padding: 4px;
}
.liveTrackRecenterA{
        transform: rotate(270deg);
    display: inline-block;
    padding: 4px 8px 4px 11px;
    color: #3197fb;
}
.liveTrackParking{ 
right: 70%;
}

.liveTrackBelowbtn{
    top: 86%;
    left: 7%;
    width: 94%;
    bottom: 3%;
    position: absolute;
    background: #fff;    
    font-size: 1.2em;
    border-radius: 5px;
    /*padding: 10px;*/ 
    box-shadow: 1px 1px 6px 2px grey;
}

.liveTrackTable{
    display: flex;
    padding: 0px;
    margin: 0px;
    padding-left: 5px; 
    
}

.liveTrackTable div{
    padding-right: 0px !important; 
}

/*.liveTrackTable div .satate{
    padding: 0px;
    margin: 0px 30px;
    }*/

.ltkmdetail{
            background: chocolate;
    color: #fff;
    border-radius: 20px;
    /* padding: 14px; */
    /* padding-top: 24px; */
    margin-top: 9px;
    padding: 1px 8px 1px 8px;
    /*margin-left: -30px;*/
}
.ltArrow{
    margin: 5% 1%;
}
.ltSelectDevArr{
margin-left: 10%;
}

.ltStatusinline{
    display: inline-block;
    }

.ltwrap_type {
	    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    background-color: #000;
    /*margin-left: -30px;*/
    margin-top: 4px;
    margin-right: 5px;
}
.ltstatusTxt{
        /*margin-right: -150px;*/
        font-size: 14px;
    }

.ltstatusUpTxt{
    /*margin-left: -29px;*/
    font-size:18px;
    font-weight: bold;
    margin-bottom: 4px;
    }
    

/***************************************CSS for All Modals Design********************************/

@media all and (max-width: 680px){
	.modal {
	    top: 20% !important;
	    right: 15% !important;
	    bottom: 20% !important;
	    left: 15% !important;
	    min-height: 20%;
	    width: 71%;
	}
	.active .modal-backdrop-bg {
	    opacity: 0.5;
	}
	.modal-backdrop-bg {
	    -webkit-transition: opacity 300ms ease-in-out;
	    transition: opacity 300ms ease-in-out;
	    background-color: #000;
	    opacity: 0;
	}
}

@media all and (max-width: 480px){
	.modal {
	    top: 20% !important;
	    right: 10% !important;
	    bottom: 20% !important;
	    left: 10% !important;
	    min-height: 20%;
	    width: 80%;
	}
}

/***************************************css for Popup*********************************/
.hmTpModal{
	    height: 50%;
        display:table !important;
        border-radius: 10px;
    }

.modal-backdrop{
    background-color: transparent !important;
}
.hmTpModal1{
	    height: 30%;
}
.hmTpBackground{
    background-color: #EEEEEE;
}

.hmTpImg img{
    width: 16%;
}

.hmTpImg{
    text-align: center;
    margin-top: 23px;
}

.hmTpTitle{
   	text-align: center;
    margin-top: 11px;
    font-size: 18px;
}

.hmTpText{
	text-align: center;
    margin: 14px;
    color: #868686;
    font-size: 15px;
}

.hmTpFotter{
	color: #C40F65 !important;
    right: 16px;
    position: fixed;
}

.hmTpFotterAr {
    color: #C40F65 !important;
    bottom: 0px;
    left: 16px;
    position: fixed;
}

.modalContent {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modalContentFooter {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 56px;
    background-image: none;
}
.modalContentFooterButton{
    width: 100%;
    font-size: 16px !important;
}

.modalTopImage{
    margin-left: 29%;
    margin-top: 20px;
    width: 109px;
}

.popup, .popup-buttons button{
    border-radius: 5px !important;
}

.popup-head{
    border:none;
}

.popup-container .popup{
    background-color: rgba(255, 255, 255, 1);
}

/*************************************menu header bar css ******************************/
        
.sidemenubar-header{
    height: 110px;
    background: url(../img/menu/menuBG.png) no-repeat 100% 100% !important;
    background-size: 100% !important;
          border-bottom: 1px solid #f7a060 !important;

}

.menuHeaderDivFont{
    font-size: 17px;
}

.menuFirstDivHeader{
    margin-top: 16px;
    margin-left: 9px;
}
.sidemenubar-content {
	margin-top: 66px;
}

.sidemenubar-content ion-item{
    border: 0px;
}

.selected div, .selected i{
    color: #ff6a44;
}

.bats-icon {
	background-position: center center;
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	display: inline-block;
	background-size: contain;
	top: 0.2em;
}

.menu-icon {
	width: 27px;
	left: 12px !important;
}

.sidemenubar-content ion-item div{
    font-size: 14px;
    margin-left: 28px;
}

.settingMenu{
    margin-left: 35px;
}

.bats-livetracking-icon {
	background-image: url("../img/menu/live_tracking.png");
}

.bats-livetracking-icon-active {
	background-image: url("../img/menu/live_tracking_active.png");
}

.bats-navigation-icon {
	background-image: url("../img/menu/navigation.png");
}

.bats-navigation-icon-active {
	background-image: url("../img/menu/navigation_active.png");
}


.bats-replay-icon {
	background-image: url("../img/menu/replay.png");
}

.bats-replay-icon-active {
	background-image: url("../img/menu/replay_active.png");
}

.bats-eventhistory-icon {
	background-image: url("../img/menu/event_history.png");
}

.bats-eventhistory-icon-active {
	background-image: url("../img/menu/event_history_active.png");
}
.bats-vehiclestatitics-icon {
	background-image: url("../img/menu/vehicle_statitics.png");
}

.bats-vehiclestatitics-icon-active {
	background-image: url("../img/menu/vehicle_statitics_active.png");
}

.bats-reports-icon {
	background-image: url("../img/menu/reports.png");
}

.bats-reports-icon-active {
	background-image: url("../img/menu/reports_active.png");
}

.bats-settings-icon {
	background-image: url("../img/menu/settings.png");
}

.bats-settings-icon-active {
	background-image: url("../img/menu/settings_active.png");
}

.bats-managemember-icon {
	background-image: url("../img/menu/manage_member.png");
}

.bats-managemember-icon-active {
	background-image: url("../img/menu/manage_member_active.png");
}

.bats-managedevice-icon {
	background-image: url("../img/menu/manage_device.png");
}

.bats-managedevice-icon-active {
	background-image: url("../img/menu/manage_device_active.png");
}

.bats-changepassword-icon {
	background-image: url("../img/menu/change_password.png");
}

.bats-changepassword-icon-active {
	background-image: url("../img/menu/change_password_active.png");
}

.bats-logout-icon {
	background-image: url("../img/menu/logout.png");
}

/*******************************css for ionic date time picker***********************/
.ion-datetime-picker .row{
    margin-left: 0px;
    margin-right: 0px;
}

.ion-datetime-picker input[type="number"], 
.ion-datetime-picker input[type="text"] {
    border : none;
}