<ion-view view-title="Event History">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="backToEventHistory()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear " ng-click="gotoFilter()"><img class="filterWidth" src="img/filter.png"></button>
         <div  ng-include="'component/notificationbell/notificationbell.html'"></div>
        <!--<a class="button button-icon button-clear " href="#/bats/notification"><img class="filterWidth" src="img/notification.png">
            <span class="badge badge-dark badgePosition" ng-class="{'badgePositionHide':count=='0','badgePosition':count!='0'}">{{count}}</span></a>-->
    </ion-nav-buttons>
    <ion-content class="lgBackgroundWhite" ng-init="init()">

        <div class="ehd" ng-repeat="event in eventHistoryValues | filterAlarm : filterList">
            <div class="row ehdRow ehdRowCol">

                <div class="col col-20 marginLeft">
                    <img class="ehdimage" ng-src="{{event.alarm_type=='0' ? 'img/eventH/panic.png' :
                                                    (event.alarm_type=='1' ? 'img/eventH/sim-tamper.png' :
                                                    (event.alarm_type=='2' ? 'img/eventH/tamper-top.png' :
                                                    (event.alarm_type=='3' ? 'img/eventH/battery.png' :
                                                    (event.alarm_type=='4' ? 'img/eventH/overspeed.png' :
                                                    (event.alarm_type=='5' ? 'img/eventH/geofence.png' :
                                                    (event.alarm_type=='6' ? 'img/eventH/sanity.png' :
                                                    (event.alarm_type=='7' ? 'img/eventH/warning.png' :
                                                    (event.alarm_type=='8' ? 'img/eventH/theft.png' :
                                                    (event.alarm_type=='9' ? 'img/eventH/sim-tamper.png' :
                                                    (event.alarm_type=='10' ? 'img/eventH/invalid.png' : 'img/eventH/invalid.png'))))))))))}}">
                </div>
                <div class="col col-55">
                    <!--<div class="row" ng-class="[chexkAlarmType(event.alarm_type,event.Velocity)]">{{alarmType}}-->
                        <div class="row" >
                            <span ng-if="event.alarm_type=='0'">Panic</span>
                            <span ng-if="event.alarm_type=='1'">Tamper Sim</span>
                            <span ng-if="event.alarm_type=='2'">Tamper Top</span>
                            <span ng-if="event.alarm_type=='3'">Battery Low</span>
                            <span ng-if="event.alarm_type=='4'">Overspeed</span>
                            <span ng-if="event.alarm_type=='5'">Geofence</span>
                            <span ng-if="event.alarm_type=='6'">Sanity alarm</span>
                            <span ng-if="event.alarm_type=='7'">Connection to tracker interrupted</span>
                            <span ng-if="event.alarm_type=='8'">Vehicle Moved / Theft</span>
                            <span ng-if="event.alarm_type=='9'">Tracker sim changed</span>
                            <span ng-if="event.alarm_type=='10'">Warning</span>
                        <!--<div class="row latlongStyle" ng-click="showAlert(event.lat,event.long)">
                            {{event.lat}} , {{event.long}}-->
                    </div>
                    <div class="row ">
                        <!--<div class="" ng-class="[chexkAlarmType(event.alarm_type)]">{{alarmType}}</div>-->
                        <div class="leftPaddingZero" ng-class="{'redSpeed':event.alarm_type=='4'}">{{event.Velocity}} KmpH</div>
                    </div>
                </div>
                <div class="col col-25">
                    <div class=" acSmallFonts acGreyFont ehDateFormat" ng-class="[fetchTime(event.ts)]">{{event.ts | date:' HH:mm, d MMMM '}}
                        
                    </div>
                    <div class="">
                        <button ng-click="showAlert(event.lat,event.long)" class="buttonForHistor ">Location</button>
                    </div>
                </div>
            </div>

            <!---->
        </div>
        <div ng-if="noData" class="alignCenter">
            <img class="imageCss" src="img/no-data.png">
            <div class="ngdata">No Data Availble</div>
        </div>
    </ion-content>
</ion-view>