<ion-view view-title="Event History">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-arrow-left-c" ng-click="backToEventHistory()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear " ng-click="gotoFilter()" ><img class="filterWidth" src="img/filter.png"></button> 
        <a class="button button-icon button-clear " href="#/bats/notification" ><img class="filterWidth" src="img/notification.png">
        <span class="badge badge-dark badgePosition"  ng-class="{'badgePositionHide':count=='0','badgePosition':count!='0'}">{{count}}</span></a>
    </ion-nav-buttons>
    <ion-content class="lgBackgroundWhite" ng-init="init()">

        <div class="ehd" ng-repeat="event in eventHistoryValues | filterAlarm : filterList"> 
            <div class="row ehdRow ehdRowCol">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <img class="ehdimage" 
                            ng-src="{{event.alarm_type=='0' ? 'img/eventH/panic.png' : (event.alarm_type=='1' ? 'img/eventH/sim-tamper.png' :
                            (event.alarm_type=='2' ? 'img/eventH/tamper-top.png' : (event.alarm_type=='3' ? 'img/eventH/battery.png' : (event.alarm_type=='4' ?
                            'img/eventH/overspeed.png' : (event.alarm_type=='5' ? 'img/eventH/geofence.png' :(event.alarm_type=='6' ? 'img/eventH/sanity.png' 
                            :(event.alarm_type=='7' ? 'img/eventH/warning.png':(event.alarm_type=='8' ? 'img/eventH/theft.png' :
                            (event.alarm_type=='9' ? 'img/eventH/invalid.png':'img/eventH/warning.png')))))))))}}">
                            <!--image for alarm_type 7 should be replaced-->
                    </div>
                    <div class="col-md-7">
                        <div class="row latlongStyle" ng-click="showAlert(event.lat,event.long)">
                            {{event.lat}} , {{event.long}}
                        </div>
                        <div class="row acSmallFonts">
                            <div class="">overspeed{{Overspped}}</div>
                            <div class="col-md-2 speedstyle">{{event.Velocity}}</div>
                        </div>
                    </div>
                    <div class="col-md-3 acSmallFonts acGreyFont ehDateFormat">
                        {{event.ts | eventTime}}
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </ion-content>
</ion-view>